---
BasedOnStyle: LLVM

Language: Cpp

ColumnLimit: 135

AccessModifierOffset: -2
IndentWidth: 2
UseTab: Never

AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
# BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
PointerAlignment: Left
